**single line comment**

In [1]:
# single line comment
print("hello world!")

hello world!

**multi line comment**

In [2]:
'''
1st line
2nd line
3rd line
'''

print("hello world!")

hello world!

# Variables

In [3]:
a = 9
print(a)

9

In [4]:
A = 2.0
print(A)

2.0

In [6]:
Z = "NAG"
print(Z)

NAG

In [7]:
1a=50
print(1a)

SyntaxError: invalid decimal literal (4233643936.py, line 1)

In [8]:
if = 5

SyntaxError: invalid syntax (2630263448.py, line 1)

**many values to multiple variables**

- and you can assign the same value to multiple variables in one line

In [9]:
a = b = c =30
print(a,b,c)

30 30 30

- **id** --to check the address of the value or a variable

In [10]:
a = 50
id(a)

140725454258136

**in python, the latest value will stored in a variable**

In [11]:
a = 20
print(a)

20

In [12]:
a = "Arjun"
print(a)

Arjun

# deleting variabe

- syntax to delete single variable 
- **del variable_name**

In [13]:
a,b = 10,30
del a

- syntax to delete multiple variables at a time
- **del variable1, variable2,.....variable n**

In [14]:
a,b,c =10,20,30
del a,b