# output in python 
to print a single value

- **syntax** : print(value)

In [2]:
print(34)             # print numeric

34

In [5]:
print("Arjun")         # print non numaric

Arjun

to print multiple values

- **syntax** : print(value1,value2,....value n)

In [7]:
print("Arjun", 22,"vivek")        #default separator is space between the values

Arjun 22 vivek

**to print a single variable**

- **syntax**: print(variable)

In [8]:
a =100
print(a)

100

**to multiple variables**

- **syntax**: print(V1,V2,V3,V4,...Vn)

In [9]:
a, b =20,30
print(a,b)

20 30

**to print combination of values & variables**

In [10]:
a = 23
print("the value of a is :",a)

the value of a is : 23

In [12]:
num = 21
name = "Arjun"

print("my name is:",name,"and my age is:",num)

my name is: Arjun and my age is: 21

.format()

In [13]:
num = 21
name = "Arjun"

print("my num is: {} and my name is: {}".format(num,name))

my num is: 21 and my name is: Arjun