In [2]:
print("hello")

hello

# single line comment

In [5]:
'''
1st line 
2nd line 
3rd line 
'''
print("hello world")

hello world

In [6]:
a=9
print(a)

9

In [10]:
print(a)

9

In [11]:
A="nagarjuna"
print(A)

nagarjuna

In [11]:
a=50
a

50

**Many values to multiple variable**

In [ ]:
a,b,c=10,20,30
print(a,b,c)

In [14]:
d,e,f=55,88,98
print(d,e,f)

55 88 98

**one value to multiple variables**

In [21]:
a=b=c=30
print(a,b,c)

30 30 30

In [22]:
a=25
id(a)

140735434144952

In [23]:
id(25)

140735434144952

**In python,latest value will be stored in a varible**

In [24]:
a="arjun"
print(a)

arjun

In [25]:
a=85
print(a)

85

In [26]:
print(a+10)

95

In [27]:
print(a-10)

75

 # **deleting variable**



- syntax to delete single variable
- del variable name

In [1]:
a,b=10,20

del a

In [2]:
a,b,c=10,20,30
del a,b

**Output on python**
to print a single value
-syntax:print(value)

In [50]:
print(10)                         # print numaric

10

In [51]:
print("nagarjuna")                 #print non numaric

nagarjuna

In [4]:
print("arjun",14,11,"naga")

arjun 14 11 naga

In [6]:
print("vivekananda",44,45,25)

vivekananda 44 45 25

In [56]:
a=99                                 #print variable
print(a)

99

In [57]:
a,b=10,20
print(a,b)

10 20

In [7]:
a=20
print("the value of a:",a)

the value of a: 20

In [60]:
a=10
print("the value of a:",a)

the value of a: 10

In [9]:
num=12
name="arjun"
print("my number is:",num,"and my name is:",name)

my number is: 12 and my name is: arjun

In [66]:
name="arjun"
num=20
print("my name is:",name,"and my num is:",num)

my name is: arjun and my num is: 20

In [70]:
name="arjun"                                   # print combinational of values and variables
num=20
print("my num is:",num,"and my name is:",name)

my num is: 20 and my name is: arjun

In [10]:
name="arjun"                                  #.format()
num=20
print("my name is:{} and my num is: {}".format(name,num))

my name is:arjun and my num is: 20

**interger(int):**

In [74]:
a=10
print(a)

10

In [75]:
type(a)                           #int

int

In [76]:
a=10.2
print(a)

10.2

In [77]:
type(a)                             #float

float

In [78]:
b=220.1
print(b)

220.1

In [79]:
type(b)                             #a numarical value with decimal

float

In [13]:
c="devara"                    #a combinational or sequence of characters(alphabets,numbers,special characters)
print(c)

devara

In [14]:
type(c)                       #we can use single quotes or double quotes to represent string

str

In [16]:
c="devara"
print(type (c))

<class 'str'>

In [17]:
mystring1='hello'
print(mystring1)
mystring2="hello"
print(mystring2)
mystring3='''hello'''
print(mystring3)

hello
hello
hello

In [19]:
mystring1='hi'
print(mystring1)
mystring2="hello"
print(mystring2)
mystring3='''sir'''
print(mystring3)

hi
hello
sir

In [23]:
name='''data science'''

print(name)

data science

In [91]:
var=123
type(var)

int

In [25]:
var2="123"
type(var2)

str

In [95]:
string="Hello world"
len(string)

11

In [30]:
string="Hello"
len(string)

5

# string concatenation
- joining of two are more strings into a single one is called concatination
- The + operater does this in python.simply writing two string literaals together also concatination them 
-NOTE: to use + operater for string, compulsory both should be string type only

In [31]:
"hello"+"world"

'helloworld'

In [101]:
"hello"+" "+"world"

'hello world'

In [1]:
"naga"+"16"

'naga16'

In [104]:
"naga"+"16"

'naga16'

In [32]:
"arjun"+"vivek"

'arjunvivek'