In [7]:
a= input("enter your name:")
b=input("enter your age:")
print("my name is:",a,"and my age is:",b )

enter your name: naga
enter your age: 21

my name is: naga and my age is: 21

In [15]:
a={"naga","surya","ajay"}                        #update,adding a multiple value in the set.
a.update(["krishna","vivek"])
print(a)

{'naga', 'surya', 'krishna', 'vivek', 'ajay'}

In [6]:
a={"Arjun"}                        #update,adding a multiple value in the set.
a.update(["Vivek"])
print(a)

{'Arjun', 'Vivek'}

In [20]:
a={12,58,47,89,75,78,55}                           #Remove,removing only one value.
a.remove(89)
print(a)

{55, 58, 75, 12, 78, 47}

In [25]:
a={12,58,47,89,75,78,55}                         #Clear,it can remove all value in the set.
a.clear()
print(a)

set()

In [26]:
a={12,58,47,89,75,78,55}
del a
print(a)

NameError: name 'a' is not defined

In [28]:
a={1,2,3}                                           #Add, adding only one value in the set.
b={1,2,3}
b.add(4)
print(a)
print(b)

{1, 2, 3}
{1, 2, 3, 4}

In [29]:
a={1,2,3}                                            #Union, Don't repeat the duplicate values.
b={1,2,3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [30]:
a={1,2,3}
b={1,2,3,4,5}
b.union(a)

{1, 2, 3, 4, 5}

In [32]:
a={1,2,3}                                           #intersection, Comman values can getting output
b={1,2,3,4,5}
a.intersection(b)

{1, 2, 3}

In [26]:
a1={1,2,3}
b1={3,4,5,6}
a1.intersection(b1)

{3}

In [27]:
b1.intersection(a1)

{3}

In [35]:
a={1,2,3}                                           #Isdisjoint, Common  is not avaible
b={1,2,3,4,5}
a.isdisjoint(b)

False

In [29]:
a={8,7,9,10}                                          
b={1,2,3,4,5}
a.isdisjoint(b)

True

In [30]:
a={1,8,7,9,10}                                          
b={1,2,3,4,5}
a.isdisjoint(b)

False