In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('stroke prediction.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [4]:
continous = ['age','avg_glucose_level','bmi']

discrete_categorical = ['gender','hypertension','heart_disease',
                       'ever_married','work_type','Residence_type',
                       'smoking_status','stroke']

# Feature Transformation

**converting skewed data to normal distributed data of a continous variable**

In [5]:
df['age'].skew()

-0.10249737146133675

In [6]:
df['bmi'].skew()

0.8987282500249906

In [7]:
df['avg_glucose_level'].skew()    # Right skewed

1.6754049014377763

**Log Transformation**

In [8]:
df['log_agl']=np.log(df['avg_glucose_level'])
df['log_agl'].skew()

0.9325457821038275

**Root Transformation**

In [9]:
df['root_agl']=(df['avg_glucose_level']**(1/12))
df['root_agl'].skew()

0.9983431560256403

**BoxCox**

In [10]:
from scipy.stats import boxcox

# transform training data & save lambda value
df['agl_boxcox'], param = boxcox(df['avg_glucose_level'])

In [11]:
df['agl_boxcox'].skew()

0.06694120438639986

In [12]:
param    # param equals to lamda value

-1.0854686782891663

**Exponential Transformation**

In [13]:
df['exp_age']=np.exp(df['bmi'])
df['exp_age'].skew()

192.50398226708398

**Power transformation**

In [14]:
df['pow_bmi']= df['age']**(2)
df['pow_bmi'].skew()

0.651987619140339

**BoxCox**

In [15]:
from scipy.stats import boxcox
df['age_boxcox'], param = boxcox(df['age'])
df['age_boxcox'].skew()

-0.3115789220569845