- when we have in the dataset,>2 continous variables of different magnitude, then we have to apply scaling to bring both on same magintude
   - Never apply scaling on discrete count variable
   - Scaling is applicable only for continous variable

# Feature scaling

- **Feature scaling** refers to the methods or techniques used to normaize the range of independent variables in our data, or in other words, the methods to set the features value range within a similar scale.

- Variable with bigger magnitude/larger value range dominate over those with smaller magnitude / value range

- Scale of the features is an important consideration when building machine learning models.

- Features scaling is generally the last step in the data preprocessing pipeline, performed **just before training the machine learning algorithms**.

- preserves the shape of the original distribution

- the minimum and maximum values of the different variables may vary

- preserves outliers

- **Feature scaling importance** in some **ML Alogorithms**
- **Maginitude --> value**

# Various Features scaling Techniques

- Standardisation
- Normalisation

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame({'x':[1,2,3,4,5]})
df

   x
0  1
1  2
2  3
3  4
4  5

# Standard Scaling / Standardisation

Standardisation involves centering the variable mean at zero, and standardising the variance to 1.

**z = (x-x_mean)/ std**

# standardisation:

- centers the mean at 0

- scales the variance at 1

# Standardization using standard scaler in sklearn

In [3]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df['x_sc_sk']=sc.fit_transform(df[['x']])
df

   x   x_sc_sk
0  1 -1.414214
1  2 -0.707107
2  3  0.000000
3  4  0.707107
4  5  1.414214

# Standardization using Pandas

In [4]:
df ['x_sc_p'] = (df['x']-df['x'].mean())/df['x'].std(ddof=0)
df

   x   x_sc_sk    x_sc_p
0  1 -1.414214 -1.414214
1  2 -0.707107 -0.707107
2  3  0.000000  0.000000
3  4  0.707107  0.707107
4  5  1.414214  1.414214

# Min Max Scaling

Min Max Scaling scales the values between 0 to 1 x_scaled = (x - x.min / (x.max - min)

In [5]:
df = pd.DataFrame({'x':[1,2,3,4,5]})
df

   x
0  1
1  2
2  3
3  4
4  5

# MinMax Scaling using MinMaxScaler in Sklearn

In [6]:
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
df['x_mm_sk']= min_max.fit_transform(df[['x']])
df

   x  x_mm_sk
0  1     0.00
1  2     0.25
2  3     0.50
3  4     0.75
4  5     1.00

# MinMax Scaling using Pandas

In [7]:
df['x_mm_p']= (df['x']-df['x'].min()) / (df['x'].max()- df['x'].min())
df

   x  x_mm_sk  x_mm_p
0  1     0.00    0.00
1  2     0.25    0.25
2  3     0.50    0.50
3  4     0.75    0.75
4  5     1.00    1.00